# Flutter/Dart
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/local.properties
android/app/.cxx

# iOS
Pods/
ios/.symlinks
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Web
.dart_tool/build/

# Hive
*.hive
*.hive.db
